body {
    background-color: #000;
    color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
#container {
    margin: 0 auto;
    max-width: 976px;
}
#status-bar {
    display: flex;
    border : 1px solid #30363d;
    border-radius: 5px;
    margin-bottom: 10px;
}
#status-bar div {
    flex: 1;
    padding: 2px 5px;
    text-align: center;
    border-right: 1px solid #30363d;
    cursor: pointer;
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
}
#status-bar div:last-child {
    border-right: none;
}
#status-bar div .count {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 7px;
    background-color: #30363d;
}
#status-bar div .icon {
    margin-right: 10px;
    display: inline-block;
}
ul {
    list-style-type: none;
    padding: 0;
}

.collapsible {
    border : 1px solid #30363d;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.collapsible header {
    background-color: #161b22;
    margin: -5px -10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
}

.collapsible header .icon {
    margin-right: 10px;
    display: inline-block
}

.collapsible.collapsed header .icon {
    transform: rotate(180deg);
}

.collapsible > .content {
    margin-top: 5px;
}

.collapsible.collapsed > .content {
    display: none;
    margin-top: 0;
}

.collapsible .content li .content {
    display: flex;
    align-items: center;
    border-top: 1px solid #30363d;
    margin: 0 -10px;
    padding: 0 10px;
}

.collapsible .content li .content > * {
    padding: 5px;
}

.collapsible .content li .content .title {
    font-size: 16px;
}

.collapsible .content li .content .duration {
    font-size: 13px;
}

.collapsible .content li .location {
    font-size: 14px;
    color: #999;
    display: block;
    margin-left: 34px;
    margin-bottom: 5px;
}

.collapsible .content li .content .project {
    flex: 1; 
}

.collapsible .content li .content .project .inner {
    font-size: 12px;
    border: 1px solid #30363d;
    border-radius: 2em;
    padding: 0px 8px;
    line-height: 18px;
    font-weight: 600;
    display: inline-block;
}

.collapsible .content li .content .project.chromium .inner {
    border-color: #388bfd;
    color: #79c0ff;
    background-color: #051d4d;
}

.collapsible .content li .content .project.firefox .inner {
    border-color: #bb8009;
    color: #e3b341;
    background-color: #341a00;
}

.collapsible .content li .content .project.webkit .inner {
    border-color: #a371f7;
    color: #d2a8ff;
    background-color: #271052;
}